<!DOCTYPE html>
<html>
<head>
	<title>{{ name }}</title>
</head>
<body>
	Hello, my name is {{ name }}. Mau ke <a href="{% url 'ppw:arawinda'%}">Arawinda</a>

	<form action="savename" method="GET">
		{% csrf_token %}
	  Name: {{ input_form.as_p }}
	  <input type="submit" value="Submit">
	</form> 

	<br/>

	{% if persons %}
		{% for person in persons %}
			{{ person.display_name }}
		<br/>
		{% endfor %}
	{% endif %}

</body>
</html>